.container-assistants {
    max-width: 100%;
    border: 2px solid red;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.assistant-pic {
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .dual-column-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }
    .about-me-text-container {
        max-width: 60%;
    }
}