/*Basic CSS from https://riggraz.dev/no-style-please/*/

/*FIX THE HORIZONTAL OVERFLOW*/

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    color: black;
    background: #fffeef;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 auto;
    min-height: 100%;
    overflow-wrap: break-word;
    max-width: 1200px;
    padding: 4rem 2rem
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem
}

hr {
    margin: 2rem 0
}

p {
    margin: 1rem 0
}

li {
    margin: 0.4rem 0
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto
}

a {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #21ff21;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

a:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #21ff21;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

a:focus {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #21ff21;
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

/*Firefox media query for wavy underline*/

@-moz-document url-prefix() {
  a:hover {
      color: #000000;
      text-decoration: underline;
      text-decoration-color: #21ff21;
      text-decoration-style: wavy;
      text-decoration-thickness: 2px;
      cursor: pointer;
  }

    a:focus {
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #21ff21;
        text-decoration-style: wavy;
        text-decoration-thickness: 3px;
        cursor: pointer;
    }
}

/* Main nav */
.top-nav-container {
    border-bottom: 3px solid #000;
}
.top-nav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.top-nav-link {
    text-decoration: none;
    color: #000000
}
/*About Me Page specific CSS*/
/* Horiziontal lines between element in menu: https://medium.com/@brajagopal.tripathi/how-to-color-padding-in-css-a82e14457549 */

.container-assistants {
    max-width: 100%;
    border: 1px solid red;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.assistant-pic {
    justify-content: center;
}

/*
.photo-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    border: 1px solid red;
}

.about-me-text-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    border: 1px solid red;
}
*/
